<footer id="site-footer">
	<div class="grid-2-offset">
		<section>
			<img src="assets/RMPBS_logo_WHITE.png" alt="RMPBS">
			<a href="<%= project.url %>"><h1><%= project.title %></h1></a>


		</section>

		<section>
			<div class="grid-3">
				<section class="footer-nav">
					<ul>
						<li class="heading">DOCUMENTARIES</li>
						<li class="sublink"><a href="">link 1</a></li>
						<li class="sublink"><a href="">link 2</a></li>
						<li class="sublink"><a href="">link 3</a></li>
						<li class="sublink"><a href="">link 4</a></li>
						<li class="heading"><a href="interactive.html">INTERACTIVE</a></li>
						<li class="heading">ABOUT</li>
					</ul>
				</section>

				<section class="footer-nav">
					<ul>
					<li class="heading"><a href="interviews.html">Interviews</a></li>
					<li class="sublink"><a href="interview-aj.html">A.J. DeAndrea</a></li>
					<li class="sublink"><a href="interview-amber.html">Amber Sanders</a></li>
					<li class="sublink"><a href="interview-coni.html">Coni Sanders</a></li>
					<li class="sublink"><a href="interview-corrie.html">Corrie Whitfield</a></li>
					<li class="sublink"><a href="interview-diwata.html">Diwata Quach</a></li>
					<li class="sublink"><a href="interview-frank.html">Frank DeAngelis</a></li>
					<li class="sublink"><a href="interview-heather.html">Heather Martin</a></li>
					</ul>
				</section>

				<section class="footer-nav">
					<ul>
						<li class="sublink empty">&nbsp;</li>
						<li class="sublink"><a href="interview-lance.html">Lance Kirklin</a></li>
						<li class="sublink"><a href="interview-makai.html">Makai Hall</a></li>
						<li class="sublink"><a href="interview-mallory.html">Mallory Sanders</a></li>
						<li class="sublink"><a href="interview-mike.html">Mike Kirklin</a></li>
						<li class="sublink"><a href="interview-mollie.html">Mollie Holt</a></li>
						<li class="sublink"><a href="interview-randy.html">Randy Brown</a></li>
					</ul>
				</section>
			</div>
		</section>
	</div>

	<p>FCC Online Public Files &gt;&gt; 
		<a class="light" target="_blank" href="https://publicfiles.fcc.gov/tv-profile/krma-tv">KRMA</a> | 
		<a class="light" target="_blank" href="https://publicfiles.fcc.gov/tv-profile/ktsc">KTSC</a> | 
		<a class="light" target="_blank" href="https://publicfiles.fcc.gov/tv-profile/krmj">KRMJ</a> | 
		<a class="light" target="_blank" href="https://publicfiles.fcc.gov/tv-profile/krmu">KRMU</a> | 
		<a class="light" target="_blank" href="https://publicfiles.fcc.gov/tv-profile/krmz">KRMZ</a>
	</p>
	<p><a class="light" href="/privacy">Privacy Policy</a> | <a class="light" href="/about/compliance/">CPB Compliance</a></p>
	<p>Rocky Mountain Public Media<sup>®</sup> and Colorado Public Media<sup>®</sup> are registered trademarks of Rocky Mountain Public Broadcasting Network, Inc.</p>
</footer>
