<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title><%= project.title %></title>

<!-- Favicon -->
<!-- Fav and touch icons -->
<link rel="shortcut icon" type="image/x-icon" href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/RMPBS/RMPBS%20LOGOS/rmpmProductionICO.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/RMPBS/RMPBS%20LOGOS/RMPBS.ORG-Favicon-57.jpg">
<link rel="apple-touch-icon" sizes="114x114" href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/RMPBS/RMPBS%20LOGOS/RMPBS.ORG-Favicon-144.jpg">
<link rel="apple-touch-icon" sizes="72x72" href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/RMPBS/RMPBS%20LOGOS/RMPBS.ORG-Favicon-57.jpg">
<link rel="apple-touch-icon" sizes="57x57" href="https://bento.cdn.pbs.org/hostedbento-prod/filer_public/RMPBS%20ALL%20FILES/RMPBS.ORG-Favicon-57.ico">

<!-- Safari, you're the worst -->
<meta name='format-detection' content='telephone=no'>

<% if (!project.embedded) { %>
  <!-- this project is not embedded -->

  <% if ( typeof page !== 'undefined' ) { %>

    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= page.title %>">
    <meta name="twitter:site" content="@rmpbs">
    <meta name="twitter:url" content="<%= page.url %>">
    <meta name="twitter:image" content="<%= page.image %>">
    <meta name="twitter:description" content="<%= page.description %>">

    <!-- Social sharing meta -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= page.title %>">
    <meta property="og:site_name" content="Rocky Mountain PBS">
    <meta property="og:url" content="<%= page.url %>">
    <meta property="og:image" content="<%= page.image %>">
    <meta property="og:description" content="<%= page.description %>">
    <meta property="fb:app_id" content="416270055215191"/>

    <!-- Google structured data -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= page.url %>"
      },
      "headline": "<%= page.title %>",
      "image": {
        "@type": "ImageObject",
        "url": "<%= page.image %>"
      },
      "author": {
        "@type": "Person",
        "name": "Rocky Mountain PBS Staff"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Rocky Mountain PBS",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= project.url %>assets/logo.png",
          "width": 891,
          "height": 296
        }
      },
      "description": "<%= page.description %>"
    }
    </script>

  <% } else { %>

    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= project.title %>">
    <meta name="twitter:site" content="@rmpbs">
    <meta name="twitter:url" content="<%= project.url %>">
    <meta name="twitter:image" content="<%= project.url + project.image %>">
    <meta name="twitter:description" content="<%= project.description %>">

    <!-- Social sharing meta -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= project.title %>">
    <meta property="og:site_name" content="Rocky Mountain PBS">
    <meta property="og:url" content="<%= project.url %>">
    <meta property="og:image" content="<%= project.url + project.image %>">
    <meta property="og:description" content="<%= project.description %>">
    <meta property="fb:app_id" content="416270055215191"/>

    <!-- Google structured data -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= project.url %>"
      },
      "headline": "<%= project.title %>",
      "image": {
        "@type": "ImageObject",
        "url": "<%= project.url + project.image %>"
      },
      "author": {
        "@type": "Person",
        "name": "Rocky Mountain PBS Staff"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Rocky Mountain PBS",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= project.url %>assets/logo.png",
          "width": 891,
          "height": 296
        }
      },
      "description": "<%= project.description %>"
    }
    </script>

    <!-- Chartbeat top -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <% } %>
<% } %>

<%= t.include("partials/_webfonts.html") %>
<link rel="stylesheet" type="text/css" href="style.css">
