<nav id="header-nav">
	<div class="navbar-upper">
		<a href="index.html" class="site">
			<img
				src="assets/logo-cropped.png"
				sizes="100vw"
				srcset="
					assets/logo-cropped.png 1699w,
					assets/logo-cropped-50.png 850w,
					assets/logo-cropped-25.png 425w
				"
				alt="<%= project.title %>"
			>
		</a>
	</div>
	<div class="navbar-lower">
		<div class="navbar-left">
			<ul>
				<li class=""><a href="documentary.html">Documentaries</a></li>
				<li class=""><a href="interviews.html">Interviews</a></li>
				<li class=""><a href="interactive.html">Map</a></li>
			</ul>
		</div>
		<div class="navbar-right">
			<ul>
				<li class=""><a href="https://rmpm.secure.force.com/support/rmpbs/donate" target="_blank" >Support RMPBS</a></li>
				<!--
				<li class=""><a href="https://www.facebook.com/rmpbs">Facebook</a></li>
				<li class=""><a href="https://twitter.com/rmpbs">Twitter</a></li>
				-->
			</ul>
		</div>
	</div>
</nav>
