#site-footer {
  background-color: @gray;
  padding-top:@gutter * 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8rem;

  .gutter();

  img {
    width:100%;
  }

  a {
    text-decoration:none;
  }

  h1 {
    color:white;
    text-transform:uppercase;
    font-size:3.25rem;
    margin-top:0;
  }

  ul {
    list-style-type: none;
  }

  li {
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    margin-bottom:0.5rem;
    font-size:1.5rem;

    &.sublink {
      margin-left:20px;
    }

    a {
      color:white;
      text-transform: none;
      font-weight: normal;
      text-decoration:none;
    }
  }


  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: flex-start;
  // clear:both;

  // a {
  //   color:white;
  // }

  // > a {
  //   flex-grow: 0;
  // }
  // section {
  //   flex-grow: 1;
  //   flex-basis: 20em;
  // }
}
