#site-footer {
  background-color: @gray;
  .gutter();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  clear:both;

  a {
    color:white;
  }

  > a {
    flex-grow: 0;
  }
  section {
    flex-grow: 1;
    flex-basis: 20em;
  }
}
