#site-footer {
  background-color: @accent-light;
  .gutter();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  > a {
    flex-grow: 0;
  }
  section {
    flex-grow: 1;
    flex-basis: 25em;
  }
}
