#header-nav {
  line-height: 56px;
  background-color: @darkpurple;
  .gutter();

  .navbar-upper {
    text-align:center;
    display: block;

    a.site {

          text-transform:uppercase;
          text-decoration:none;
          font-weight:bold;
          font-size:3rem;
          color:white;
        
      }
  }

  .navbar-lower {
    position: relative;
    height: 56px;
  }

  .navbar-left {
    position:absolute;
    top:0;
    left:0;
  }

  

  .navbar-right {
    position:absolute;
    top:0;
    right:0;
  }

  ul {
    margin: 0;
    padding: 1rem 0;
    li {
      display: inline;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;

      
      a {
          color:white;
          text-decoration: none;
      }
    }
    li + li {
      margin-left: 1.75rem;
    }
  }
}
