#header-nav {
  line-height: 56px;
  background-color: @darkpurple;
  .gutter();

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;

      &.site {
        a {
          text-transform:uppercase;
          text-decoration:none;
          font-weight:bold;
          font-size:26px;
        }
      }
      a {
          color:white;
          text-decoration: none;
      }
    }
    li + li {
      margin-left: 1.75rem;
    }
  }
}
