article#home section {
	margin-bottom: @gutter * 3;
}
#home-intro h1,
h1.big {
	font-size: 8rem;
	margin: 0 auto;
	text-transform: uppercase;
	color: black;
	text-align: center;
	line-height: 1;
	@media (max-width: 600px) {
		font-size: 5rem;
	}
}

#hero-video-container {
  position:relative;
  height:56vw;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#interviews {
	background-color: black;
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2 {
		color: white;
		text-align: center;
		margin-bottom: 3rem;
	}
	.grid-4 {
		grid-auto-flow: dense;
	}
	.grid-item {
		a {
			display: block;
			text-decoration: none;
			position: relative;
		}
		img {
			margin-bottom: 0;
			display: block;
		}
		h3 {
			margin-bottom: 0;
			padding: 0.5em;

			position: absolute;
			bottom: 0;
			line-height: 1;

			color: white;
			text-shadow:
				1px 1px 0 black,
				1px -1px 0 black,
				-1px 1px 0 black,
				-1px -1px 0 black,
				0 0 2px black,
				0 0 3px black;
			text-decoration: none;

			width: auto;
			display: inline-block;
			border-radius: 2px;
			background: rgba( 0, 0, 0, 0.4 );
			z-index: 10;
		}
	}
	.grid-item:nth-child(1),
	.grid-item:nth-child(6),
	.grid-item:nth-child(9) {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}
}
