/*
 * Media queries
 */
@mobile: ~"(max-width: 910px)";
@mobile-above: ~"(min-width: 911px)";
// @tablet: ~"(max-width: 768px)";

/*
 * Fonts
 */
@sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@serif: Georgia, "Times New Roman", Times, serif;

/*
 * Colors
 */
@accent-dark: #4774CC;
@accent-light: #bccae5;

/*
 * Units
 */
@gutter: 1rem;
.gutter {
  padding-left: @gutter;
  padding-right: @gutter;
}
