/*
 * Media queries
 */
@mobile: ~"(max-width: 910px)";
@mobile-above: ~"(min-width: 911px)";
// @tablet: ~"(max-width: 768px)";

/*
 * Fonts
 */
@sans: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@serif: Georgia, "Times New Roman", Times, serif;

/*
 * Colors
 */

@darkpurple: #534f98;
@lightpurple: #7059a6;
@indigo: #0072ce;
@blue: #659ad2;
@green: #87be3c;
@yellow: #cdd61f;


@accent-dark: @blue;
@accent-light: #bccae5;

/*
 * Units
 */
@gutter: 1rem;
.gutter {
  padding-left: @gutter;
  padding-right: @gutter;
}

/* 
* Grid
*/
#interviews {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
  	grid-gap: 1em;
}

.width-reg {
	max-width:1170px;
	margin:0 auto;
	padding:0 @gutter;
}
