<!doctype html>
<html lang="en-US">
	<head>
		<%= t.include("partials/_head.html", grunt.data.json) %>
	</head>
	<body>
	<%= t.include("partials/_nav.html", grunt.data.json) %>
	<article id="home">
		<section id="hero-video-container" class="mb">
			<video muted autoplay id="hero-video">
				<source src="assets/drone.mp4" type="video/mp4">
			</video>
		</section>

		<section id="home-intro" class="width-reg mb">
			<h1><%= json.strings.home_title %></h1>

			<%= json.strings.home_paragraph %>
		</section>

		<section id="documentaries" class="width-reg">
			<h2>Documentaries</h2>
			<div class="grid-3">
				<%
					let documentaries = [
						archieml.documentary_1,
						archieml.documentary_2,
						archieml.documentary_3
					];
					documentaries.forEach(function(documentary) { %>
					<div class="grid-item doc">
						<a href="<%= documentary.file_slug %>.html">
							<img src="https://img.youtube.com/vi/<%= documentary.video_slug %>/mqdefault.jpg" alt="<%= documentary.name %>">
							<h3><%= documentary.headline %></h3>
							<p><%= documentary.description %></p>
						</a>
					</div>
				<% }); %>
			</div>
		</section>

		<section id="interviews" class="">
			<h2>Extended Interviews</h2>
			<div class="grid-4">
				<%
					let interviewees = [
						archieml.interview_aj,
						archieml.interview_amber,
						archieml.interview_coni,
						archieml.interview_corrie,
						archieml.interview_diwata,
						archieml.interview_frank,
						archieml.interview_heather,
						archieml.interview_lance,
						archieml.interview_makai,
						archieml.interview_mallory,
						archieml.interview_mike,
						archieml.interview_mollie,
						archieml.interview_randy
					];
					interviewees.forEach(function(interview) { %>
					<div class="grid-item interview col-3">
						<a href="interview-<%= interview.file_slug %>.html">
							<img src="https://img.youtube.com/vi/<%= interview.video_slug %>/mqdefault.jpg" alt="<%= interview.name %>">
							<h3><%= interview.name %></h3>
							<p><%= interview.leadin %></p>
						</a>
					</div>
				<% }); %>
			</div>
		</section>

		<section id="more" class="width-reg">
			<h2>More</h2>
			<div class="grid-3">
				<%
					let mores = [
						archieml.caliber_of_healing,
						archieml.arts_district_guns_to_garden_tools,
						archieml.arts_district_answer_the_call,
						archieml.heavy_lift,
						archieml.podcasts
					];
					mores.forEach(function(more)
				{ %>
					<div class="grid-item more col-3">
						<a href="<%= more.file_slug %>.html">
							<%
								if ( ( typeof more.video_slug == 'undefined' || more.video_slug == '' ) && typeof more.image !== 'undefined' ) {
									more.image_url = more.image;
								} else {
									more.image_url = 'https://img.youtube.com/vi/' + more.video_slug + '/mqdefault.jpg';
								}
							%>
							<img src="<%= more.image_url %>" alt="<%= more.title %>">
							<h3><%= more.title %></h3>
							<p><%= more.leadin %></p>
						</a>
					</div>
				<% }); %>
			</div>
		</section>
	</article>

		<%= t.include("partials/_footer.html", grunt.data.json) %>
		<%= t.include("partials/_analytics.html") %>
	</body>
</html>
