<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>
  <body>
    <%= t.include("partials/_nav.html", grunt.data.json) %>
    	<section id="hero-video-container">
	    	<video muted loop id="hero-video"> <!-- autoplay -->
			  <source src="assets/drone.mp4" type="video/mp4">
			</video>
		</section>

		<section id="home-intro" class="width-reg">
			<h2>Beyond Columbine</h2>

			<p>Maecenas ac est dapibus, interdum justo sit amet, gravida enim. Etiam feugiat, lectus ac maximus venenatis, ante eros ornare lectus, vitae dapibus velit nibh ac magna. Quisque eu lacinia neque. Nunc feugiat purus ac rutrum iaculis. Nullam porttitor leo nec nisi vestibulum accumsan.</p>
		</section>

		<section id="documentaries" class="width-narrow">
			<h3>Documentaries</h3>
		    <% csv.docData.forEach(function(doc) { %>
		    <div class="doc side-thumb">
			    <img src="<%= doc.thumbnail %>" alt="<%= doc.name %>">	
			    <h3><%= doc.name %></h4>
			    <div><%= doc.description %></div>
			</div>
		    <% }); %>
		</section>

		<section id="interviews" class="width-reg">
			<h3>Interviews</h3>
			<div class="grid-3">
			    <% csv.interviewData.forEach(function(interview) { %>
			    <div class="interview col-3">
				    <img src="<%= interview.thumbnail %>" alt="<%= interview.name %>">	
				    <h4><%= interview.name %></h4>
				</div>
		    <% }); %>
			</div>
		</section>

		<section id="more" class="width-reg">
			<h3>More</h3>
			<div class="grid-3">
		    <% csv.moreData.forEach(function(more) { %>
			    <div class="more col-3">
				    <img src="<%= more.thumbnail %>" alt="<%= more.name %>">	
				    <h4><%= more.name %></h4>
				</div>
		    <% }); %>
			</div>
		</section>


    <%= t.include("partials/_footer.html", grunt.data.json) %>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
