<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  	<script src="https://d3js.org/topojson.v2.min.js"></script> 
  </head>
  <body>
    <%= t.include("partials/_nav.html", grunt.data.json) %>

    <div id="mapcontainer">
	    <div id="map"></div>
      <div id="interactive-text" class="width-reg grid-2-offset">
  		  <div id="filter">
          <h3>School Shootings Since Columbine</h3>
          <p>The Washington Post compiled a database tracking how many children have been exposed to school violence since the Columbine massacre in 1999. The Post used news articles, open-source databases, law enforcement reports and calls to schools and police departments to compile a list of school shootings that have occurred since Columbine. The Post only counted incidents that occurred on primary or secondary school campuses immediately before, during or just after classes. <a href="https://www.washingtonpost.com/graphics/2018/local/school-shootings-database/?noredirect=on&utm_term=.f4bef1e64f03" target="_blank">Click here</a> to read more of the Washington Post's reporting on school violence.</p>
          <p>Use the dropdown below to filter the data by state.</p>
          <div id="filtercontainer"></div>
          <p><i>SOURCE: <a href="https://github.com/washingtonpost/data-school-shootings">The Washington Post's school shootings database</a></i>, last updated <%= grunt.template.today( 'fullDate' ) %>.</p>
        </div>
  		  <div id="table">
  		    <table class="objecttable">
  			     <thead>
  			      	<tr><th data-cat="date">Date</th><th data-cat="school_name">School</th><th data-cat="city">City</th><th data-cat="state">State</th><th data-cat="killed">Killed</th><th data-cat="injured">Injured</th></tr>
  			     </thead>
  			     <tbody></tbody>
  		    </table>
  		  </div>
      </div>
	  </div>

    <%= t.include("partials/_disqus.html") %>

    <%= t.include("partials/_footer.html", grunt.data.json) %>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
