<!doctype html>
<%
  let page = archieml.podcasts;
  grunt.data.json.page = page;
%>

<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>
  <body>
    <%= t.include("partials/_nav.html", grunt.data.json) %>

    <article class="width-reg">
      <h1>
        <%= page.headline %>
      </h1>
      <h3>
        <%= page.leadin %>
      </h3>

      <%= t.renderMarkdown(page.text) %>

      <ul class="subscribe-buttons">
        <li><a href="https://podcasts.apple.com/us/podcast/insight-with-john-ferrugia/id1381493290" target="_blank"><img src="assets/itunes-logo.svg" alt="Listen on iTunes"></a></li>
        <li><a href="https://www.stitcher.com/s?fid=332442&refid=stpr" target="_blank"><img src="assets/stitcher-logo.png" alt="Listen on Stitcher"></a></li>
      </ul>
    </article>

    <%= t.include("partials/_footer.html", grunt.data.json) %>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
