<!doctype html>
<%
  let page = archieml.red_flags;
  grunt.data.json.page = page;
%>

<html lang="en-US">
  <head>
    <meta http-equiv="refresh" content="0; http://www.rmpbs.org/blogs/news/former-columbine-student-reflects-on-killers-red-flags/">
    <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>
  <body>
    <%= t.include("partials/_nav.html", grunt.data.json) %>

    <article class="width-reg">
      <h1>
        <%= page.headline %>
      </h1>
      <h3>
        <%= page.leadin %>
      </h3>

      <%= t.renderMarkdown(page.text) %>
    </article>

    <%= t.include("partials/_footer.html", grunt.data.json) %>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
